/* ---------------------- */
/* Fonts                  */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root {
  --clr-accent-bright: #61dafb;
  --clr-accent-very-bright: #deebf8;

  --clr-background-light: #f5f5f5;
  --clr-background-lighter: #fff;

  --clr-background-dark: #282d35;
  --clr-background-darker: #21222a;

  --ff-main: "Inter", sans-serif;
}

/* ---------------------- */
/* Reset                  */
/* ---------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------- */
/* Typography             */
/* ---------------------- */

html {
  font-family: var(--ff-main);
}

/* ---------------------- */
/* Components             */
/* ---------------------- */

/* NAVBAR */

nav {
  display: flex;
  align-items: center;
  height: 5em;
  padding: 2em 1.75em;
  background-color: var(--clr-background-light);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

nav.dark {
  background-color: var(--clr-background-darker);
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.25);
}

.nav--logo {
  max-height: 2em;
  margin-right: 0.5em;
}

.nav--logo_text {
  font-size: 1.5rem;
  margin-right: auto;
  color: var(--clr-accent-bright);
  letter-spacing: -0.05em;
}

.nav--title {
  color: var(--clr-accent-very-bright);
  font-weight: 600;
  /* font-size: 0.8rem; */
}

/* toggles */

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: var(--clr-background-lighter);
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: var(--clr-background-lighter);
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2b283a;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #d5d4d8;
}

nav.dark .toggler-dark {
  color: var(--clr-background-lighter);
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

/* MAIN */

main {
  background-color: var(--clr-background-lighter);
  min-height: calc(100vh - 10em);
  padding: 2em 1.75em;
  color: var(--clr-background-darker);
  background-image: url(/src/images/react-icon-light.png);
  background-repeat: no-repeat;
  background-position: right;
  flex: 1 1 auto;
}

main.dark {
  background-image: url("./images/react-icon-dark.png");
  background-color: var(--clr-background-dark);
  color: var(--clr-background-lighter);
}

.main--title {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 3em;
}

.main--facts > li {
  line-height: 1.25em;
  padding-block: 0.75em;
}

.main--facts > li::marker {
  color: var(--clr-accent-bright);
  font-size: 1.25rem;
}

/* FOOTER */

footer {
  padding: 2em 0;
  margin-bottom: 0;
  height: 5em;
  background-color: var(--clr-background-light);
  color: var(--clr-background-darker);
  text-align: center;
}

footer.dark {
  padding: 2em 0;
  margin-bottom: 0;
  height: 5em;
  background-color: var(--clr-background-darker);
  color: var(--clr-background-lighter);
  text-align: center;
}
small a {
  color: var(--clr-accent-bright);
}
